<a href="https://colab.research.google.com/github/Angelaangu/introduction-to-python/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s=input("enter the travel source")
d=input("enter the destination")
n=int(input("enter the number of passengers"))
print(s,d,n)

enter the travel sourceMAKE MY TRIP
enter the destinationMANALI
enter the number of passengers5

In [4]:
t=int(input("enter the total fare"))
n=int(input("enter the number of passengers"))
d=t//n
print("ticket fare per person is",d)

enter the total fare50000
enter the number of passengers5
ticket fare per person is 10000

In [14]:
na=input("enter the name")
f=int(input("enter the fare"))
print(na,f)

enter the nameANGELA
enter the fare10000
ANGELA 10000

In [16]:
t=int(input("enter the total fare"))
if t>10000:
  print("ELIGIBLE FOR DISCOUNT")
else:
  print("NOT ELIGIBLE FOR DISCOUNT")

enter the total fare50000
ELIGIBLE FOR DISCOUNT

In [18]:
t=int(input("enter the total fare"))
if t>15000:
  print("ELIGIBLE FOR 20% DISCOUNT")
else:
  print("ELIGIBLE FOR 10% DISCOUNT")

enter the total fare60000
ELIGIBLE FOR 20% DISCOUNT

In [20]:
t=int(input("enter the fare"))
if t>15000:
  s=t*20/100
  print("apply 20% discount",s)
if t>10000:
  n=t*10/100
  print("apply 10% discount",n)
if t<10000:
  c=t*5/100
  print("apply 5% discount",c)

enter the fare14000
apply 10% discount 1400.0

In [24]:
n=int(input("enter the number"))
if n==1:
  print("the number is positive")
elif n==(-1):
  print("the number is negative")
else:
  print("the number is zero")

enter the number0
the number is zero