<a href="https://colab.research.google.com/github/Angelaangu/introduction-to-python/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=int(input("enter the number"))
for i in range(1,11,1):
  print(i,"*",n,"=",i*n)

enter the number5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [8]:
n='121'
rev=""
for i in n:
  rev=i+rev
if n==rev:
  print("the number is a palindrome")  
else:
  print("it is not a palindrome")

the number is a palindrome

In [13]:
eng=int(input("enter the english marks"))
math=int(input("enter the maths marks"))
mal=int(input("enter the malayalam marks"))
sci=int(input("enter the science marks"))
soc=int(input("enter the social science marks"))
total=[eng+math+mal+sci+soc]
print(total)
v=[eng+math+mal+sci+soc]
print(min(v))
print(max(v))
print()

enter the english marks90
enter the maths marks60
enter the malayalam marks89
enter the science marks95
enter the social science marks99
[433]
433
433