<a href="https://colab.research.google.com/github/Angelaangu/introduction-to-python/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name=input("enter the name")
print(name)

enter the nameANGELA
ANGELA

In [9]:
mark1=int(input("enter the mark"))
mark2=int(input("enter the second subj mark"))
mark3=int(input("enter the third subj mark"))
sum=(mark1+mark2+mark3)
avg=sum//3
print(sum)
print(avg)

enter the mark10
enter the second subj mark20
enter the third subj mark30
60
20

In [14]:
num=int(input("enter the number"))
num1=int(input("enter the nxt number"))
if num>num1:
  print(num, "is greater")
else:
  print(num1, "is greater")

enter the number100
enter the nxt number200
200 is greater

In [18]:
num=int(input("enter the number"))
num1=int(input("enter the second num"))
num2=int(input("enter the third num"))
if num>num1:
  print(num,"is greater")
elif num1>num2:
  print(num1,"is greater")
elif num2>num:
  print(num2,"is greater")

enter the number800
enter the second num00
enter the third num300
800 is greater

In [25]:
num=int(input("enter the number"))
if num%2==0:
  print("the number is even")
else:
  print("the number is odd")

enter the number20
the number is even

In [26]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(0,12,2):
  print(i)

0
2
4
6
8
10

In [31]:
for i in range(0,55,5):
  print(i)

0
5
10
15
20
25
30
35
40
45
50