<a href="https://colab.research.google.com/github/Angelaangu/introduction-to-python/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=int(input("enter the number"))
if n<0:
  print("the value is",n*-1)
else:
  print("the value is",n)

enter the number10
the value is 10

In [5]:
m=int(input("enter the marks"))
if m<25:
  print("the grade is F")
if m>25 and m<45:
  print("the grade is E")
if m>45 and m<50:
  print("the grade is D")
if m>50 and m<60:
  print("the grade is C")
if m>60 and m<80:
  print("the grade is B")
else:
  print("the grade is A")

enter the marks90
the grade is A

In [8]:
cl=int(input("enter the number of classes held"))
att=int(input("enter the number of classes attended"))
x=cl/att*100
if x>75:
  print("student is allowed to sit for the exam")
else:
  print("student is not allowed to sit for the exam")

enter the number of classes held100
enter the number of classes attended80
student is allowed to sit for the exam

In [10]:
n=int(input("enter the first number"))
n2=int(input("enter the second number"))
add=n+n2
print("the sum is",add)

enter the first number100
enter the second number100
the sum is 200

In [12]:
n=int(input("enter the first number"))
n2=int(input("enter the second number"))
sub=n-n2
print("the difference is",sub)

enter the first number500
enter the second number100
the difference is 400

In [13]:
n=int(input("enter the first number"))
n2=int(input("enter the second number"))
mul=n*n2
print(mul)

enter the first number2
enter the second number10
20

In [18]:
n=int(input("enter the first number"))
n2=int(input("enter the second number"))
div=n/n2
print(div)

enter the first number100
enter the second number2
50.0

In [17]:
n=int(input("enter the first number"))
n2=int(input("enter the second number"))
mod=n%n2
print(mod)

enter the first number2
enter the second number100
2

In [19]:
n=int(input("enter the first number"))
n2=int(input("enter the second number"))
floo=n//n2
print(floo)

enter the first number100
enter the second number2
50

In [20]:
n=int(input("enter the first number"))
n2=int(input("enter the second number"))
exp=n**n2
print(exp)

enter the first number5
enter the second number2
25

In [22]:
pas=input("enter the name")
for i in pas:
  print(i)

enter the nameangela
a
n
g
e
l
a

In [34]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [43]:
num=int(input("enter the number"))
n=0+num
for i in range(n):
  a=i+1
  print(a)

enter the number1
1