<a href="https://colab.research.google.com/github/Angelaangu/introduction-to-python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
s=int(input("enter the salary "))
if s<250000:
    print("not taxable")
if s>=250000 and s<500000:
    r=s-250000
    y=10/100*r
    print("taxable amt is",r)
    print("tax amt",y)
if s>=500000 and s<750000:
    p=s-500000
    y=20/100*p
    a=y+25000
    print("taxable amt is",p)
    print("tax amt is",a)
if s>=750000 and s<1000000:
    p=s-7500000
    y=30/100*p
    b=y+125000
    print("taxable amt is",p)
    print("TAX AMT IS",b)
if s>1000000:
    p=s-1000000
    y=32/100*p
    d=y+275000
    print("taxable amt is",p)
    print("tax amt is ",d)

enter the salary 600000
taxable amt is 100000
tax amt is 45000.0